In [112]:
import pandas as pd

import numpy as np

In [113]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [114]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [115]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.096308  0.900822  0.599688 -1.016048
2013-01-02  0.854746  0.459286  0.138510 -2.146404
2013-01-03 -0.417793  1.114858 -0.775285 -0.188580
2013-01-04  1.427751 -1.174182 -1.348112  2.820299
2013-01-05 -2.472658 -0.527109  0.582730  0.214212
2013-01-06 -0.351100  1.285996 -0.728291 -2.130219

In [116]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20230226"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2023-02-26  1.0  3   test  foo
1  1.0 2023-02-26  1.0  3  train  foo
2  1.0 2023-02-26  1.0  3   test  foo
3  1.0 2023-02-26  1.0  3  train  foo

In [117]:

df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [118]:
df.to_numpy()

array([[-0.09630836,  0.90082223,  0.59968758, -1.01604848],
       [ 0.85474637,  0.45928593,  0.13851028, -2.14640424],
       [-0.41779298,  1.11485796, -0.77528496, -0.18857961],
       [ 1.42775142, -1.17418215, -1.34811249,  2.82029892],
       [-2.47265752, -0.52710862,  0.58272956,  0.21421202],
       [-0.35110021,  1.28599631, -0.72829123, -2.13021896]])

In [119]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.175894  0.343279 -0.255127 -0.407790
std    1.341981  0.986775  0.809534  1.855533
min   -2.472658 -1.174182 -1.348112 -2.146404
25%   -0.401120 -0.280510 -0.763537 -1.851676
50%   -0.223704  0.680054 -0.294890 -0.602314
75%    0.616983  1.061349  0.471675  0.113514
max    1.427751  1.285996  0.599688  2.820299

In [120]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -0.351100  1.285996 -0.728291 -2.130219
2013-01-05 -2.472658 -0.527109  0.582730  0.214212
2013-01-04  1.427751 -1.174182 -1.348112  2.820299
2013-01-03 -0.417793  1.114858 -0.775285 -0.188580
2013-01-02  0.854746  0.459286  0.138510 -2.146404
2013-01-01 -0.096308  0.900822  0.599688 -1.016048

In [127]:

df[1:3]

                   A         B         C         D
2013-01-02  0.854746  0.459286  0.138510 -2.146404
2013-01-03 -0.417793  1.114858 -0.775285 -0.188580

In [130]:
df.shape

(6, 4)